@use '../variables';


.infos-bar {
    padding: 16px 24px;
    background-color:variables.$textColor;
    position: relative;
    display: flex;
    justify-content: space-between;
    background-color: #000;


    &__infos {
        display: flex;
        gap: 40px;

        &__item {
            font-size: 25px;
            color:red;

            b {
                color: blue;
                font-size: 20px;
                display: block;
            }
        }
    }

    @media (max-width: 640px) {
        display: block;

        &__infos {
            display: block;

            &__item {
                margin-bottom: 24px;
            }
        }
    }

    @media (max-width: 1024px) {
        &__infos {
            gap: 16px;
        }
    }
}